:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: inherit;
    color: var(--OBR-font);

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    --OBR-font: white;
    --OBR-font-transparent: rgba(255, 255, 255, 0.493);
    
    --OBR-offset-foreground: rgb(230, 230, 238);
    --OBR-offset-background: rgb(49, 49, 65);

    --OBR-light-blue: rgb(60, 62, 75);
    --OBR-light-blue-transparent: rgb(60, 62, 75, 0.5);

    --OBR-dark-blue: rgb(30, 34, 49);
    --OBR-dark-blue-transparent: rgba(30, 34, 49, 0.5);

    --OBR-Purple-Select: rgb(187, 153, 255);
    --OBR-Purple-Select-transparent: rgb(187, 153, 255, 0.5);

    --invert: none;
    --invert-click: invert(52%) sepia(81%) saturate(5333%) hue-rotate(331deg) brightness(90%) contrast(88%);
    --slider-color: #ccc;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: var(--OBR-dark-blue-transparent);
}

::-webkit-scrollbar-thumb {
  background: var(--OBR-Purple-Select-transparent);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--OBR-Purple-Select);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

